:root{
    --module-dimensions: 24px;
}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0dada;
}

/* styles container of grid */
#container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

/* styles rows of grid that hold individual modules */
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--module-dimensions); 
}

/* styles div which holds the buttons */
.contols{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

header{
    margin-top: 10px;
}

#copyright{
    margin-top: 20px;
}

/* styles individual modules height and width */
.module{
    /* border: 0.5px black solid; */
    height: var(--module-dimensions);
    width: var(--module-dimensions);
}

button{
    padding: 5px 10px;
    margin: 10px;
    font-size: 20px;
}